@media screen and (max-width: 1600px) {
    html {
        font-size: 16px;
    }

}


@media screen and (max-width: 1200px ) {
    html {
        font-size: 14px;
    }
}


@media screen and (max-width: 1000px ) {
    html {
        font-size: 12px;
    }
}


@media screen and (max-width: 800px ) {
    html {
        font-size: 10px;
    }
}


@media screen and (max-width: 600px ) {
    html {
        font-size: 8px;
    }
}


@media screen and (max-width: 400px ) {
    html {
        font-size: 6px;
    }
}

.cancel-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 3rem;

}

.cancel-sideBar {
    width: 24rem;
    border: 1px solid rgb(202, 200, 200);
    height: 30rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.cancel-sideBar > button {
    height: 9rem;
    border: 1px solid rgb(202, 200, 200);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.reservation-cancel {
    width: 60rem;
    display: flex;
    flex-direction: column;

}

.cart-input {
    height: 3rem;
    width: 50rem;
    display: flex;
}

.cart-input > input {
    height: 2.5rem;
    width: 46rem;
    border: 1px solid rgb(202, 200, 200);

}

.cart-input > button {
    height: 2.8rem;
    width: 6rem;
    margin-left: 2rem;
    border: 1px solid rgb(202, 200, 200);

}

.cart-card {
    margin-top: 1rem;
    width: 59rem;
    border: 1px solid rgb(202, 200, 200);

    height: 18rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;


}

.cart-card-image {
    width: 24rem;
    height: 18rem;
    border: 1px solid rgb(202, 200, 200);
}

.cart-card-contents {
    width: 34rem;
    height: 18rem;
    display: flex;
    flex-direction: row;
}

.cart-card-contents-title > h2 {
    margin: 0;
}

.cart-card-contents-title > h3 {
    margin: 0;
}

/* 하트 버튼 스타일 */
.heart-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s ease;
}

.heart-btn:hover {
    transform: scale(1.2);
}

.heart-btn:active {
    transform: scale(0.9);
}

/* SVG 하트 스타일 */
.heart-icon {
    width: 3rem;
    height: 3rem;
    transition: all 0.3s ease;
}

/* 빈 하트 */
.heart-icon.empty {
    fill: none;
    stroke: #333;
    stroke-width: 2;
}

/* 채워진 하트 */
.heart-icon.filled {
    fill: #e74c3c;
    stroke: #e74c3c;
    stroke-width: 2;
    animation: heartbeat 0.3s ease;
}

.cart-card-contents-title {
    width: 18rem;
}

.cart-card-contents-heart {
    width: 18rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 18rem;
    flex-direction: column;

}

.cart-card-contents-heart-div {
    display: flex;
    flex-direction: column;
    height: 14rem;
    justify-content: flex-end;
    align-items: flex-end;

}

.cart-card-contents-heart-div > h4 {
    margin: 0;

}

.cart-card-contents-heart-div > h2 {
    margin: 0;
}