
/*고객센터 css*/
.customer{
    width: 92.9rem;
    height: 22rem;

    background-color: rgb(240, 248, 255); /* 밝은 회색 */
    margin-top: 10rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
}

.customer-content{
    width: 38rem;
    height: 22rem;
    display: flex;
    flex-direction: column;

}

.customer-button{
    display: flex;

    justify-content: flex-start;
    align-content: flex-start;
    width: 38rem;
    height: 6rem;
}

.customer-button{
    display: flex;

    justify-content: flex-start;
    align-content: flex-start;
    width: 38rem;
    height: 6rem;
}

.button-chat1, .button-chat2{
    width: 18rem;
    height: 6rem;
    border: none;
    margin-top: 1.5rem;
    border-radius: 1rem;
}

.bottom-word {
    width: 92.9rem;
    padding-top: 1rem;
    padding-left: 2rem;

    background-color: rgb(240, 248, 255); /* 밝은 회색 */
    border-top: 1px solid rgb(176, 196, 222);

}

.button-chat1{
    margin-right: 2rem;
}

.bottom-card-button{
    display: flex;
    justify-content: flex-start;

}

.card-button-1{
    margin-top: 1rem;
    width: 12rem;
    height: 3rem;
    margin-right: 2rem;
    border: none;
    border-radius: 1rem;
}
.customer-picture{
    width: 25rem;
    height: 22rem;
}