.customer-content{
    width: 38rem;
    border: 1px solid black;
    height: 22rem;
    display: flex;
    flex-direction: column;

}

.customer-picture{
    width: 25rem;
    height: 22rem;
    border: 1px solid black;
}
.customer-button{
    display: flex;

    justify-content: flex-start;
    align-content: flex-start;
    width: 38rem;
    height: 6rem;
}
.button-chat1, .button-chat2{
    width: 18rem;
    height: 6rem;
    border: none;
    margin-top: 1.5rem;
    border-radius: 1rem;
}

.bottom-word {
    width: 92.9rem;
    border: 1px solid black;
    padding-top: 1rem;
    padding-left: 2rem;

}

.button-chat1{
    margin-right: 2rem;
}

.bottom-card-button{
    display: flex;
    justify-content: flex-start;

}

.card-button-1{
    margin-top: 1rem;
    width: 12rem;
    height: 3rem;
    margin-right: 2rem;
}