<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/reservationDetail/reservationDetail.css">

</head>
<body>
<header th:replace="header/differentHeader.html :: headers"></header>
<div class="cancel-container">
    <div class="cancel-sideBar">
        <button style="border-radius: 1rem 1rem 0 0 ">예약 내역</button>
        <button>예약 취소</button>
        <button>장바구니</button>
        <button style="border-radius: 0 0 1rem 1rem">내정보 관리</button>
    </div>
    <div class="reservation-cancel">
    </div>
</div>

</body>
</html>