<header th:fragment="headers" class="headline">
    <div class="inner_header">
        <div class="top_logo" style="margin-left: 0.1rem" ></div>
        <div class="blank" style="width: 54.5rem"></div>
        <div class="auth_buttons" style="margin-left: 1.5rem;">
            <button class="soft_button" onclick="location.href='/login/login'">로그인</button>
            <button class="soft_button" onclick="location.href='/login/sign-up'">회원가입</button>
        </div>
        <div style="border: none; justify-content: center; width: 1rem; ">
            <button style="border: none; background-color: transparent;" class="menu-button">
                <img src="/assets/header/pngwing.com.png" alt="search" width="40rem" height="40rem" style="margin-top: 6px; border: none;">
            </button>
        </div>

    </div>
</header>