@media screen and (max-width: 1600px) {
    html {
        font-size: 16px;
    }

}



@media screen and (max-width: 1200px ) {
    html {
        font-size: 14px;
    }
}


@media screen and (max-width: 1000px ) {
    html {
        font-size: 12px;
    }
}



@media screen and (max-width: 800px ) {
    html {
        font-size: 10px;
    }
}



@media screen and (max-width: 600px ) {
    html {
        font-size: 8px;
    }
}



@media screen and (max-width: 400px ) {
    html {
        font-size: 6px;
    }
}

.middle-container-large{
    width:77rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.middle-information-top-name{
    height: 5rem;
}

.middle-information{
    width: 36rem;
    height: 44rem;
    display: flex;
    flex-direction: column;

}

.middle-information-top{
    width: 35rem;
    height: 22.2rem;
    border: 1px solid rgb(202, 200, 200);
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    border-radius: 1rem;
    padding-left: 1rem;

}

.middle-information-bottom{
    width: 36rem;
    height: 15rem;
    border: 1px solid black;
    border-radius: 1rem;

}

.accommodation-information{
    width: 36rem;
    height: 44rem;

}

.accommodation-information-top{
    width: 34rem;
    border: 1px solid rgb(202, 200, 200);
    margin-top: 5rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.accommodation-information-top > p{
    margin: 0 0 1rem;

}

.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


.accommodation-information-image{
    width: 34rem;
    height: 16rem;
    border: 1px solid rgb(202, 200, 200);
}

.middle-information-top > h3{
    margin-top: 2rem;
    margin-bottom: 0.5rem;

}

.title{
    font-size: 1.3rem;
}

.middle-information-top > h4{
    padding-left:1rem ;
    padding-top: 1rem;

    margin: 0;
}

.input-label-container{
    padding-right: 1rem;
    width: 33.4rem;
    border-radius: 0.5rem;

}

.input-label{
    height: 2.6rem;
    width: 33.4rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(202, 200, 200);

}

.main-title{
    margin-bottom: 2rem;
    font-size: 1.7rem;
}

.middle-information-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: #f5f5f5;
    border: none;
}

.contents-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contents-container > h4{
    margin: 1rem 0.6rem 0.6rem 0.5rem;
}

.loader{
    width: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.loader > .information-accommodation{
    margin: 1rem 0.6rem 0.6rem 0.5rem;


}

/*고객센터 css*/
.customer{
    width: 92.9rem;
    height: 22rem;
    border: 1px solid black;
    margin-top: 10rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
}

.customer-content{
    width: 38rem;
    border: 1px solid black;
    height: 22rem;
    display: flex;
    flex-direction: column;

}

.customer-button{
    display: flex;

    justify-content: flex-start;
    align-content: flex-start;
    width: 38rem;
    height: 6rem;
}

.customer-button{
    display: flex;

    justify-content: flex-start;
    align-content: flex-start;
    width: 38rem;
    height: 6rem;
}

.button-chat1, .button-chat2{
    width: 18rem;
    height: 6rem;
    border: none;
    margin-top: 1.5rem;
    border-radius: 1rem;
}

.bottom-word {
    width: 92.9rem;
    border: 1px solid black;
    padding-top: 1rem;
    padding-left: 2rem;

}

.button-chat1{
    margin-right: 2rem;
}

.bottom-card-button{
    display: flex;
    justify-content: flex-start;

}

.card-button-1{
    margin-top: 1rem;
    width: 12rem;
    height: 3rem;
    margin-right: 2rem;
    border: none;
    border-radius: 1rem;
}
.customer-picture{
    width: 25rem;
    height: 22rem;
    border: 1px solid black;
}