@media screen and (max-width: 1600px) {
    html {
        font-size: 16px;
    }

}



@media screen and (max-width: 1200px ) {
    html {
        font-size: 14px;
    }
}


@media screen and (max-width: 1000px ) {
    html {
        font-size: 12px;
    }
}



@media screen and (max-width: 800px ) {
    html {
        font-size: 10px;
    }
}



@media screen and (max-width: 600px ) {
    html {
        font-size: 8px;
    }
}



@media screen and (max-width: 400px ) {
    html {
        font-size: 6px;
    }
}

.cancel-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 3rem;

}


.cancel-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 3rem;

}

.cancel-sideBar {
    width: 24rem;
    border: 1px solid black;
    height: 30rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.cancel-sideBar > button {
    height: 9rem;
    border: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.reservation-cancel {
    width: 60rem;
    border: 1px solid black;
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.reservation-cancel-title {
    width: 60rem;
    height: 4rem;
    border: 1px solid black;
    display: flex;
    align-items: center;

}

.before-use {
    width: 59rem;
    height: 5rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding-left: 1rem;
    font-weight: bold;
}

.reservation-detail-container{
    height: 16rem;
    border: 1px solid black;
    display: flex;
}

.reservation-detail-container-title{
    height: 7rem;
    border: 1px solid black;
}

.reservation-detail-container-2{
    height: 14rem;
    border: 1px solid black;
    display: flex;
}

.reservation-detail-container-3{
    height: 16rem;
    border: 1px solid black;
}