<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/accommodation/accommodationDetail.css">


</head>
<body>
<header th:replace="~{header/differentHeader.html :: headers}"></header>
<div class="header-container">
    <div></div>
    <div>
        <div class="img-1"></div>
        <div class="img-2"></div>
        <div class="img-3"></div>
        <div class="img-4"></div>
    </div>
</div>
<div class="middle-container">
    <p style="font-size: 0.8rem; margin-top: 1rem; margin-bottom: 0">호텔 * 비지니스</p>
    <p style="font-size: 1.2rem;margin-top: 0;margin-bottom: 0;">호텔 원스토리</p>
    <div class="middle-container-mark">
        <div class="middle-container-mark-top">
            <div class="mark-container">
                <img src="/assets/image/free-icon-medal-4211074.png" style="width: 5rem; height: 5rem">
            </div>
        </div>
        <div class="middle-container-mark-middle"></div>
        <div class="middle-container-mark-bottom"></div>
    </div>
    <div class="middle-container-detail">
        <div></div>
        <div></div>
    </div>
</div>
<div class="roomList">
    <div class="roomList-title">
        <h2>방 선택</h2>
    </div>
    <div class="roomList-content">
        <div class="roomList-card">
            <div class="card-image">
                <div class="card-image-mark">
                    <img src="/assets/image/free-icon-medal-4211074.png" alt="alt" class="image-image">
                </div>
            </div>
            <div class="roomList-card-list">
                <div class="card-contents">
                    <div class="card-contents-top"></div>
                    <div class="card-contents-middle"></div>
                    <div class="card-contents-botton"></div>
                </div>
            </div>
        </div>
        <div class="roomList-card">

        </div>
    </div>
</div>
<div class="service"></div>
<div class="information"></div>
<div class="location">
    <div class="location-title">
        <h2>위치</h2>

    </div>
    <div class="location-map"></div>
</div>
<div class="review">
    <div class="review-title">
        <h2>자세한 리뷰</h2>
    </div>
    <div class="review-content">
        <div class="review-content-picture"></div>
        <div class="review-content-word"></div>
    </div>
</div>
<div class="customer">

</div>
<div class="bottom-word"></div>
</body>
</html>