<!--시험하는 코드 여기잘까랑 상관없음-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
      <div th:fragment="JO-JOHA-DRAWMENU">
        <div class="menu-background">
          <div class="menu-background-modal">
              <div class="modal-category"><p>메뉴 목록</p></div>
              <div class="modal-list-menu">
                  <table class="menu-table">
                      <tbody class="table-1">
                          <tr></tr>
                          <tr></tr>
                          <tr></tr>
                      </tbody>

                      <tbody class="table-2"></tbody>
                      <tbody class="table-3"></tbody>
                  </table>
              </div>

          </div>
        </div>
      </div>

    </body>
</html>