<div  th:fragment="sideBar" class="right-side-bar">
    <div class="member-name">
        <div class="name-picture"></div>
        <div class="member-realName">
            <p>회원이름</p>

        </div>
    </div>
    <div class="reservation-name">
        <button>예약 내역</button>
        <button>좋아요 목록</button>
        <button>장바구니 목록</button>
    </div>
    <div class="etc">
        <button>국내 숙소</button>
        <button>고객센터</button>
    </div>
    <div class="logout">
        <button>로그아웃</button>
    </div>
</div>