<!--시험하는 코드 여기잘까랑 상관없음-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<a href="https://www.flaticon.com/free-icons/email" title="email icons">Email icons created by Fathema Khanom -
    Flaticon</a>
<a href="https://www.flaticon.com/free-icons/login" title="login icons">Login icons created by Freepik -
    Flaticon</a>
<a href="https://www.flaticon.com/free-icons/login" title="login icons">Login icons created by Uniconlabs -
    Flaticon</a>
<a href="https://www.flaticon.com/free-icons/kakao-talk" title="kakao talk icons">Kakao talk icons created by Fathema
    Khanom - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/kakao-talk" title="kakao talk icons">Kakao talk icons created by Fathema
    Khanom - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/letter-n" title="letter n icons">Letter n icons created by riajulislam -
    Flaticon</a><a href="https://www.flaticon.com/free-icons/google" title="google icons">Google icons created by
    Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/mac" title="mac icons">Mac icons created by Hight Quality Icons - Flaticon</a><a href="https://www.flaticon.com/free-icons/google" title="google icons">Google icons created by Alfredo Creates - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/button" title="button icons">Button icons created by Freepik - Flaticon</a>
</body>

</html>