@media screen and (max-width: 1600px) {
    html {
        font-size: 16px;
    }

}



@media screen and (max-width: 1200px ) {
    html {
        font-size: 14px;
    }
}


@media screen and (max-width: 1000px ) {
    html {
        font-size: 12px;
    }
}



@media screen and (max-width: 800px ) {
    html {
        font-size: 10px;
    }
}



@media screen and (max-width: 600px ) {
    html {
        font-size: 8px;
    }
}



@media screen and (max-width: 400px ) {
    html {
        font-size: 6px;
    }
}  .cancel-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 3rem;

}

.cancel-sideBar {
    width: 24rem;
    border: 1px solid rgb(202, 200, 200);
    height: 30rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.cancel-sideBar > button {
    height: 9rem;
    border: 1px solid rgb(202, 200, 200);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.reservation-cancel {
    width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.reservation-cancel-title {
    width: 60rem;
    height: 4rem;
    border: 1px solid rgb(202, 200, 200);
    display: flex;
    align-items: center;
    border-radius: 0.5rem;

}

.reservation-cancel-explain {
    width: 60rem;
    height: 3rem;
    border: 1px solid rgb(202, 200, 200);
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
}

.reservation-cancel-contents {
    width: 60rem;
    height: 20rem;
    border: 1px solid rgb(202, 200, 200);
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
}

.reservation-cancel-title {
    font-size: 1.2rem;
}

.reservation-cancel-index {
    width: 12rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.reservation-cancel-index > h2{
    margin: 0;
}

.reservation-cancel-real{
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.reservation-cancel-real > .reservation-cancel-word{
    font-size: 1.2rem;


}

/*고객센터 css*/
.customer{
    width: 92.9rem;
    height: 22rem;
    border: 1px solid black;
    margin-top: 10rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
}

.customer-content{
    width: 38rem;
    border: 1px solid black;
    height: 22rem;
    display: flex;
    flex-direction: column;

}

.customer-button{
    display: flex;

    justify-content: flex-start;
    align-content: flex-start;
    width: 38rem;
    height: 6rem;
}

.customer-button{
    display: flex;

    justify-content: flex-start;
    align-content: flex-start;
    width: 38rem;
    height: 6rem;
}

.button-chat1, .button-chat2{
    width: 18rem;
    height: 6rem;
    border: none;
    margin-top: 1.5rem;
    border-radius: 1rem;
}

.bottom-word {
    width: 92.9rem;
    border: 1px solid black;
    padding-top: 1rem;
    padding-left: 2rem;

}

.button-chat1{
    margin-right: 2rem;
}

.bottom-card-button{
    display: flex;
    justify-content: flex-start;

}

.card-button-1{
    margin-top: 1rem;
    width: 12rem;
    height: 3rem;
    margin-right: 2rem;
    border: none;
    border-radius: 1rem;
}
.customer-picture{
    width: 25rem;
    height: 22rem;
    border: 1px solid black;
}