<!DOCTYPE html>
<!--시험하는 코드 여기잘까랑 상관없음-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="jo-joha-join-modal" id="jo-joha-join-modal_fragment">
    <div id="jo-joha-join-modal">
        <div class="jo-joha-join-modal-header">
            <h2>JOIN</h2>

        </div>

        <table class="jo-joha-join-modal-middle-table">
            <tbody class="jo-joha-join-modal-middle-table-tbody">
            <tr class="tr"></tr>
            <tr class="jo-joha-join-modal-middle-table-tr">
                <td class="jo-joha-join-modal-middle-table-tr-td-one"><input type="text" placeholder="  아이디"
                                                                             class="table-tr-td-one-input-id" id="id"></td>
            </tr>
            <tr class="tr"></tr>
            <tr class="jo-joha-join-modal-middle-table-tr">
                <td class="jo-joha-join-modal-middle-table-tr-td-one"><input type="text" placeholder="  비밀번호"
                                                                             class="table-tr-td-one-input-pw" id="pw"></td>
            </tr>
            <tr class="tr"></tr>
            <tr class="jo-joha-join-modal-middle-table-tr">
                <td class="jo-joha-join-modal-middle-table-tr-td-one"><input type="text" placeholder="  닉네임"
                                                                             class="table-tr-td-one-input-nickname" id="nickname">
                </td>

            </tr>
            <tr class="tr"></tr>

            <tr class="jo-joha-join-modal-middle-table-tr">
                <td class="jo-joha-join-modal-middle-table-tr-td-one"><input type="text" placeholder="  이메일"
                                                                             class="table-tr-td-one-input-email" id="email"></td>
            </tr>
            <tr class="tr"></tr>
            <tr class="jo-joha-join-modal-middle-table-tr">
                <td class="jo-joha-join-modal-middle-table-tr-td-one"><input type="text" placeholder="  가상이름"
                                                                             class="table-tr-td-one-input-name" id="name"></td>
            </tr>
            <tr class="tr"></tr>


            </tbody>
        </table>
        <div class="jo-joha-join-modal-bottom">
            <button class="jo-joha-join-button">회원가입</button>
        </div>
    </div>
</div>
</body>
</html>