<!--시험하는 코드 여기잘까랑 상관없음-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="real-login">
    <div class="real-jo-joha-login-modal">
        <div class="real-jo-joha-login-modal-two">
            <div class="modal-two-top">
                <div class="modal-two-top-top"><h2 class="modal-two-top-top-font">LOGIN</h2></div>
                <div class="modal-two-top-bottom">
                    <div class="modal-two-jo-joha-login">
                        <div class="modal-two-jo-joha-login-real">
                            <div class="modal-two-jo-joha-login-real-left">
                                <table class="modal-two-jo-joha-login-real-left-table">
                                    <tbody class="modal-two-jo-joha-login-real-left-table-tbody">
                                        <tr class="modal-two-jo-joha-login-real-left-table-tr">
                                            <input type="text" placeholder="  아이디" class="tr-id">
                                            <input type="text" placeholder="  비밀번호" class="tr-pw">

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-two-jo-joha-login-real-right">
                                <button class="modal-two-jo-joha-login-real-right-button">LOGIN</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-two-find">
                        <div class="modal-two-find-top">
                            <a href="" class="id-padding">아이디 찾기</a>
                            <a href="" class="pw-padding">비밀번호 찾기</a>
                        </div>
                        <a class="modal-two-find-right" href="">회원가입</a>
                    </div>
                </div>
            </div>
            <div class="modal-two-bottom">
                <button class="login-button-kakao"><img src="/image/kakao_login_simple/ko/kakao-talk (1).png" alt="" width="100%" height="100%" ></button>
                <div class="black"></div>
                <button class="login-button-naver"><img src="/image/2021_Login_with_naver_guidelines_Kr/btnG_아이콘원형.png" alt="" width="100%" height="100%"></button>
                <div class="black"></div>

                <button class="login-button-google"><img src="/image/kakao_login_simple/ko/apple.png"  alt="" width="100%" height="100%" ></button>
                <div class="black"></div>

                <button class="login-button-apple"><img src="/image/kakao_login_simple/ko/social.png"  alt="" width="100%" height="100%" ></button>
            </div>
        </div>
    </div>
</div>
</body>
</html>