.member-name{
    width: 100%;
    height: 21.8%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.reservation-name{
    width: 100%;
    height: 30%;
    border: 1px solid black;

}

.etc{
    width: 100%;
    height: 21.8%;
    border: 1px solid black;
}

.logout{
    width: 100%;
    height: 26%;
    border: 1px solid black;
}
/*member name 에 관한 css*/
.member-name > div {
    width: 40%;
    height: 70%;
    border: 1px solid black;

}

.member-name > div:nth-child(1){
    border-radius: 50%;
}

.member-realName{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
/*예약 내역 관련된 것*/
.reservation-name{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.reservation-name > button{
    border: none;
    background-color: white;
    padding: 16px;
    font-size: 20px;

}
/*etc에 관련되 것*/

.etc{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.etc > button{
    border: none;
    background-color: white;
    padding: 16px;
    font-size: 20px;

}

/*로그아웃  css*/
.logout > button{
    border: none;
    background-color: white;
    padding: 16px;
    font-size: 20px;
}