<?xml version="1.0" encoding="UTF-8" ?>
<!--시험하는 코드 여기잘까랑 상관없음-->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.trip.service.myUser.MyUserMapper">
    <insert id="joins" parameterType="com.example.trip.commendVO.JoJoHaVO">
        INSERT INTO tripMember (username, password, email, nickname, name, roles)
        VALUES (#{username}, #{password}, #{email}, #{nickname}, #{name}, #{roles});
    </insert>

    <select id="findByUsernameName" parameterType="string" resultType="com.example.trip.commendVO.JoJoHaVO"
>
        SELECT * FROM tripMember
        WHERE username = #{username}
    </select>

    <select id="findByUsername" parameterType="string" resultType="com.example.trip.commendVO.JoJoHaVO">
        SELECT * FROM tripMember
        WHERE username = #{username}
    </select>

</mapper>
