<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>여기잘까 - 메인</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<!-- 헤더 -->
<header class="headline">
    <div class="inner_header">
        <div class="top_logo" onclick="location.href='/mains/main'"></div>
        <div class="auth_buttons">
            <button class="soft_button" onclick="location.href='/login/login'">로그인</button>
            <button class="soft_button">회원가입</button>
        </div>
    </div>
</header>

<!-- 메인 페이지 -->
<div id="mainPage">
    <div class="main_banner" style="background-image: url('/assets/banner/main-banner.webp')">
        <div style="color:white; font-size: 2rem">국내 여행지 여기잘까??</div>
        <div class="search-container">
            <div class="search-top">
                <div class="search-div">
                <h2>국내 숙소</h2>
                </div>
            </div>
            <div class="search-bottom">
                <label>
                    <input class="search-date">
                </label>
                <label >
                    <input class="search-date">
                </label>
                <label >
                    <input class="search-date">
                </label>
                <button class="search-date-button">검색</button>

            </div>
        </div>
    </div>

    <!-- 여행지 섹션 -->
    <div class="travel-section">
        <button class="scroll-btn" id="scrollLeft">&#8592;</button>
        <div class="travel-container" id="travelContainer"></div>
        <button class="scroll-btn" id="scrollRight">&#8594;</button>
    </div>

    <!-- 숙소 섹션 -->
    <div class="middle-container">
        <h2>인기 추천 숙소</h2>
        <div class="category-buttons" id="categoryButtons"></div>
        <div class="hotel-list" id="hotelList"></div>
    </div>
    <div class="middle-container">
        <h2>이번주 인기 숙소</h2>
        <div class="category-buttons" id="categoryButtonss"></div>
        <div class="hotel-list" id="hotelLists"></div>
    </div>
</div>
<div class="customer">
    <div class="customer-content">
        <div style="font-size: 1.2rem ;margin-top: 1.5rem">고객센터<br><br>

            고객상담센터(전화): 오전 9시 ~ 새벽 3시 운영<br>
            채팅 상담 문의 : 24시간 운영
        </div>
        <div class="customer-button">
            <button class="button-chat1">0000-0000</button>
            <button class="button-chat2">채팅상담</button>
        </div>
    </div>
    <div class="customer-picture"></div>
    <div class="customer-picture"></div>
</div>
<div class="bottom-word">
    <div class="bottom-card">(주)여기잘까컴퍼니<br>
        주소 : 경기도 성남시 봉은사로 101, 740타워 20층 | 대표이사: 홍길동 | 사업자등록번호 : 000-00-00000<br>
        전자우편주소 : aaaa@aaaaa.aaa | 전화번호 : 0000-0000<br>
        (주)여기잘까컴퍼니는 통신판매중개자로서 통신판매의 당사자가 아니며, 상품의 예약, 이용 및 환불 등과 관련한 의무와 책임은 각 판매자에 있습니다.

        <div class="bottom-card-button">
            <button class="card-button-1">이용약관</button>
            <button class="card-button-1">개인정보처리방침</button>
            <button class="card-button-1">소비자 분쟁해결 기준</button>
            <button class="card-button-1">콘텐츠 산업진흥법에 의한 표시</button>
        </div>
        <p>Copyright SISH COMPANY Corp. All rights reserved.</p>
    </div>
</div>
<script src="/js/main.js"></script>
</body>
</html>
